.home {
  display: flex;
  height: 100vh;
  max-width: 100vw;
  overflow-x: auto;
}
  
  .sidebar {
    width: 125px; /* Adjust the width as needed */
    background-color: #f0f0f0; /* Light grey background */
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); /* Add some shadow for depth */
  }
  
  .sidebar a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .sidebar a:hover {
    background-color: #ddd; /* Slight change on hover */
  }
  
  .content {
    flex-grow: 1; /* Take up the remaining space */
    padding: 20px;
    background-color: #fff; /* White background for the content */
  }
  .logout-button {
    padding: 10px 15px;
    background-color: #f44336; /* Red color for the logout button */
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 20px; /* Space from the last link */
  }
  
  .logout-button:hover {
    background-color: #d32f2f; /* Slightly darker shade on hover */
  }

  .search-section {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .search-input {
    padding: 10px;
    width: 90%;
    max-width: 400px; /* Adjust as needed */
    border-radius: 5px;
    border: 1px solid #ccc;
  }

  .search-button {
    padding: 10px;
    margin-left: 10px; /* Space between the input field and button */
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .search-button:hover {
    background-color: #45a049;
  }
  
  .games-section {
    margin-bottom: 20px;
  }
  
  .games-list {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 17%;
    gap: 10px; /* gap between boxes */
    padding-bottom: 10px;
    overflow-x: auto;
    overscroll-behavior-inline: contain;

    scroll-snap-type: inline mandatory;
  }
  
  .game {
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;

    flex: 0 0 auto;    
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #f3f3f3;
    transition: transform 0.2s ease-in-out;
    transform: perspective(600px) rotateX(0deg);
    overflow: hidden;

    scroll-snap-align: start;
    scroll-padding-inline: 1rem;
  }
  .game:hover {
    transform: perspective(600px) rotateX(-1deg) scale(1.1);
  }
  
  .game img {
    width: 100%;
    height: 70%; /* Set the image to fill the container */
    object-fit: cover; /* Maintain aspect ratio and cover container */
  }

  .game h3 {
    font-size: 1rem; /* Adjust text size as needed */
    margin: 5px 0;
    padding: 5px 10px;
  }

  .loading-placeholder {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 17%;
    gap: 10px; 
    padding-bottom: 10px;
    align-items: center;
    flex: 0 0 auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: linear-gradient(to right, #f6f7f8 8%, #edeef1 18%, #f6f7f8 33%);
    background-size: 1000px 104px;
    height: 200px;
    animation: shimmer 0.7s infinite linear forwards;
  }

  @keyframes shimmer {
    0% {
      background-position: -468px 0;
    }
    100% {
      background-position: 468px 0;
    }
  }